<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.koitt.mvc.model.Board">
  	<insert id="insertBoard" parameterType="Board">
  		INSERT INTO board (title, content, user_no, regdate)
  		VALUES (#{title}, #{content}, #{user_no}, CURDATE())
  	</insert>
  	
  </mapper>
  
  
  
  
  
  
  